*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

:root {
    --input-width: 90%;
    --input-height: 3.5em;
    --input-font-size: 1rem;
    --input-border-radius: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh;

    background-color: #F9FAFB;
    
}

.content {
    width: 95%;
    max-width: 750px;
    min-height: 35%;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border: 1px solid;
    padding: 1rem;
}

form {
    width: 100%;
    max-width: 550px;
    min-height: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #FFFFFF;
}

h1 {
    color: #000000;
    font-weight: 600;
    font-size: 3rem;
}

p {
    color: #6C727F;
    font-weight: 400;
    font-size: 1.25rem;
}

#email {
    width: var(--input-width);
    height: 3.5em;
    
    outline: none; /*Avoids change color when clicked*/
    border: none; /*removes default border*/
    border: 1px solid #E5E7EB;
    border-radius: var(--input-border-radius);

    background-color: #F9FAFB;
}

#email, #email::placeholder {
    color: #6C727F;
    font-weight: 500;
    font-size: var(--input-font-size);
    text-align: center;
}

/*TODO: #email:hover and #email:focus*/

button {
    color: #FFFFFF;
    font-weight: 600;
    font-size: var(--input-font-size);

    width: var(--input-width);
    height: var(--input-height);

    border: none; /* removes default borders */
    border-radius: var(--input-border-radius);
    background-color: #3662E3;
}

/* TODO: button:active and button:hover */

form > p {
    color: #6C727F;
    font-weight: 400;
    font-size: 0.875rem;
}