*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 95%;
    max-width: 750px;
}

h1 {
    color: #000000;
    font-weight: 600;
    font-size: 3rem;
}

p {
    color: #6C727F;
    font-weight: 400;
    font-size: 1.25rem;
}

#email::placeholder {
    color: #6C727F;
    font-weight: 500;
    font-size: 1rem;
}

button {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
}

form > p {
    color: #6C727F;
    font-weight: 400;
    font-size: 0.875rem;
}